<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2 class = "mb-4 text-center">Welcome to Student Feedback Portal</h2>
    <div class ="row justify-content-center">
        <div class = "col-md-6">
            <div class = "card shadow-lg">
                <img src="static/img/college.webp" alt="card-img-top" alt="College Image">
                <div class = "card-body">
                    <h5 class="card-title">Sri Vasavi Engineering College</h5>
                    <p class="card-text">
                        <b>Sri Vasavi Engineering College </b> is a premier institution of higher learning in the field of engineering 
                        and technology.It is affiliated to JNTUK and approved by AICTE.we are committed to provide quality education
                        and training to the students to make them competent and confident engineers.In addition to the academic
                        we offer various extracurricular activities to the students to make them all round personalities.We aim to
                        provide a platform for the students to showcase their talents and skills. Our main objective is to make our
                        students as a good citizen of the society.We promise to provide a world class infrastructure and facilities
                        to our students to make them comfortable and happy. We are committed to provide quality education and training
                        to the students to make them competent and confident engineers. We are committed to provide quality education
                        and training to the students to make them competent and confident engineers. We are committed to provide quality 
                        students to make them competent and confident engineers. We are committed to provide quality education and training
                        to the students to make them competent and confident engineers. We are committed to provide quality education and
                        training to the students to make them competent and confident engineers. We are committed to provide quality education.
                    </p>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item">✅Modern Labs and Infrastructure</li>
                        <li class="list-group-item">✅Modern Labs and Infrastructure</li>
                        <li class="list-group-item">✅Experienced Faculty</li>
                        <li class="list-group-item">✅Industry - Ready Curriculum</li>
                        <li class="list-group-item">✅Placement Assistance</li>
                        <li class="list-group-item">✅Regular Workshops and Seminars</li>
                    </ul>
                <a href="/feedback" class="btn btn-primary">Submit Feedback</a>
                <a href="/admin" class="btn btn-secondary">Admin Feedback</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>